.header {
  background-color: #e8e9ea;
  grid-column: full-start / col-end 4;
  padding: 8rem;

  display: grid;
  grid-template-rows: 1fr min-content 4rem min-content;
  grid-template-columns: max-content;
  gap:1.5rem;
  justify-content: start;

  &__logo{
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%);
        }
    }
  
  &__link{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
    }
  }
  &__btn{
    align-self: center;
    justify-self: start;
    justify-items: end;
    cursor: pointer;
  }
}