.header{
  background-color: $color-primary;
  grid-column: full-start / col-end 5;
  padding: 0;
  position: relative;

  display: grid;
  grid-template-rows: min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 2.5rem;
  justify-content: left;

  @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
      padding: 0;
  }
}

.arrow-icon{
  top:80%;
  transform: translateY(100%);
  position: absolute;
}